description: 'Transform with external function'

prompts:
  - 'Write a tweet about {{topic}}'

providers:
  - openai:gpt-4o-mini

defaultTest:
  options:
    transform: file://transform.js
    # transform: file://transform.py

tests:
  - vars:
      topic: bananas
    transform: output.length
    assert:
      - type: number
        value: output.length
