.custom-metric-container {
  display: inline-flex;
  gap: 0.5rem;
  font-weight: normal;
}

.custom-metric-container > span {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--neutral-background-color);
}
