.description {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.description:hover {
  background-color: #f0f0f0;
}

.eval-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.eval-header strong {
  font-weight: 500;
}
