.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo img {
  width: 30px;
}

.logo span {
  margin-bottom: 6px;
  color: var(--text-color);
}

[data-theme='dark'] .logo img {
  filter: invert(1);
}
