providers:
  - id: anthropic:messages:claude-3-opus-20240229
    config:
      tools:
        - name: get_weather
          description: Get the current weather in a given location
          input_schema:
            type: object
            properties:
              location:
                type: string
                description: The city and state, e.g. San Francisco, CA
              unit:
                type: string
                enum:
                  - celsius
                  - fahrenheit
            required:
              - location
  - id: openai:chat:gpt-4o-mini
    config:
      tools:
        - type: function
          function:
            name: get_weather
            description: Get the current weather in a given location
            input_schema:
              type: object
              properties:
                location:
                  type: string
                  description: The city and state, e.g. San Francisco, CA
                unit:
                  type: string
                  enum:
                    - celsius
                    - fahrenheit
              required:
                - location
  - id: openai:chat:gpt-4o-mini
    config:
      tools: file://external_tools.yaml
  - id: groq:llama3-groq-70b-8192-tool-use-preview
    config:
      tools:
        - type: function
          function:
            name: get_weather
            description: 'Get the current weather in a given location'
            parameters:
              type: object
              properties:
                location:
                  type: string
                  description: 'The city and state, e.g. San Francisco, CA'
                unit:
                  type: string
                  enum:
                    - celsius
                    - fahrenheit
              required:
                - 'location'
      tool_choice: auto

prompts:
  - Tell me about the weather in {{city}} in the default unit for the location.

tests:
  - vars:
      city: Boston
  - vars:
      city: New York
  - vars:
      city: Paris
  - vars:
      city: Mars
