.severity-card {
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.severity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

[data-theme='dark'] .severity-card:hover {
  box-shadow: none;
}

.card-critical {
  border-left: 5px solid #ff1744;
}
.card-high {
  border-left: 5px solid #ff9100;
}
.card-medium {
  border-left: 5px solid #ffc400;
}
.card-low {
  border-left: 5px solid #00e676;
}
