/* FIXME(ian): !important because these are global classes, unfortunately */

.pass-high {
  color: green !important;
}

.pass-medium {
  color: rgb(203, 133, 3) !important;
}

.pass-low {
  color: red !important;
}

.vuln-critical {
  color: red !important;
  font-weight: bold !important;
}

.vuln-high {
  color: red !important;
}

.vuln-medium {
  color: rgb(203, 133, 3) !important;
}

.vuln-low {
  color: green !important;
}
