prompts:
  - 'You are an angry pirate. Be concise and stay in character. Tell me about {{topic}}'
  - id: 'You are an angry pirate. Be concise and stay in character. Tell me about {{topic}}'
    label: text

  - id: file://prompt.txt
    label: prompt_txt
  - file://prompt.txt

  - id: file://./prompts/*.txt
    label: prompt_glob
  - file://./prompts/*.txt

  - id: file://prompt.yaml
    label: prompt_yaml
  - file://prompt.yaml

  - id: file://prompt.json
    label: prompt_json
  - file://prompt.json

  - id: file://prompt.jsonl
    label: prompt_jsonl
  - file://prompt.jsonl

  - id: file://prompt_chat.js
    label: prompt_chat
  - file://prompt_chat.js

  - id: file://prompt_string.js
    label: prompt_string
  - file://prompt_string.js

  - id: file://prompt_multiple.js:prompt2
    label: prompt_multiple with prompt2
  - file://prompt_multiple.js:prompt2

  - id: file://prompt_esm.mjs
    label: prompt_esm
  - file://prompt_esm.mjs

  - id: file://prompt_python.py
    label: prompt_python
  - file://prompt_python.py

  - id: file://prompt_python.py:prompt1
    label: prompt_python with prompt1
  - file://prompt_python.py:prompt1

providers:
  - openai:gpt-3.5-turbo

tests:
  - vars:
      topic: the weather
  - vars:
      topic: bob dylan
  - vars:
      topic: the Roman Empire
  - vars:
      topic: file://./another_topic.txt
