node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
*.sw[op]
*.log
.DS_Store
.aider*
.env
dist
scratch
*.sqlite

src/web/nextui/node_modules
src/web/nextui/.next
src/web/nextui/out
src/web/nextui/.env
