# fly.toml app configuration file generated for promptfoo-web on 2023-08-26T20:54:31-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "promptfoo-web"
primary_region = "sjc"

[env]
  NODE_ENV = "production"
  PROMPTFOO_USE_SUPABASE = "1"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
