:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Light mode colors */
  --background-color: #ffffff;
  --text-color: #404040;
  --border-color: lightgray;
  --table-border-color: lightgray;
  --pass-color: green;
  --fail-color: #ad0000;
  --smalltext-color: gray;
  --success-background-color: #d1ffd7;
  --variable-background-color: #f7f7f7;
  --header-background-color: #fffdf7;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #f0f0f0;
    --border-color: #444444;
    --table-border-color: #444444;
    --pass-color: #4caf50;
    --fail-color: #f44336;
    --smalltext-color: #888888;
  }
}

[data-theme='dark'] {
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
  --border-color: #444444;
  --table-border-color: #444444;
  --pass-color: #4caf50;
  --fail-color: #f44336;
  --smalltext-color: #888888;
  --success-background-color: #216d2b;
  --variable-background-color: #333;
  --header-background-color: #333;
}

html {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}
