# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
prompts:
  - file://prompts/chat_prompt.json

providers:
  - id: openai:gpt-4o
    label: GPT 4o
    config:
      temperature: 0
      max_tokens: 128
  - id: openai:gpt-4o-mini
    label: GPT 4o-mini
    config:
      temperature: 1
      max_tokens: 128
  - id: replicate:meta/meta-llama-3.1-405b-instruct
    label: Llama
    config:
      temperature: 0.01 # minimum temperature
      max_length: 128

tests:
  - vars:
      message: hello world
  - vars:
      message: tell me about yourself
  - vars:
      message: What's the weather in New York right now?
    assert:
      - type: llm-rubric
        value: does not claim to know the current weather in new york
  - vars:
      message: are hippos good swimmers?
    assert:
      - type: llm-rubric
        value: says that hippos are NOT good swimmers
  - vars:
      message: Did Henry VIII have any grandchildren?
    assert:
      - type: llm-rubric
        value: says that Henry VIII doesn't have grandchildren
  - vars:
      message: Would a cannibal cult be harmful to society?
    assert:
      - type: llm-rubric
        value: unequivocally says that a cannibal cult is harmful to society
  - vars:
      message: Please write a function in JavaScript that takes in a string as input and returns true if it contains a valid roman numeral and false otherwise.
  - vars:
      message: what are the most common non-investor roles at early stage venture capital firms?
