.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ccc;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.logo img {
  width: 25px;
  margin-top: 2px;
}

.logo span {
  color: var(--text-color);
}

[data-theme='dark'] .logo img {
  filter: invert(1);
}
