# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
description: Loading provider configurations from external YAML files

prompts: 'Tell me about the weather in {{city}}.'
providers:
  - file://gpt-4.1-mini.yaml
tests:
  - vars:
      city: Boston
  - vars:
      city: New York
  - vars:
      city: Paris
  - vars:
      city: Mars
