# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
prompts:
  - 'Tell me about {{topic}} in three words'
providers:
  - openai:gpt-4o
tests:
  - vars:
      topic: yellow fruits
    assert:
      - type: python
        value: file://assert.py
  - vars:
      topic: fruits high in potassium
    assert:
      - type: python
        value: file://assert.py
  - vars:
      topic: fruits that are long and skinny
    assert:
      - type: python
        value: file://assert.py
  - vars:
      topic: fruits that smell bad
    assert:
      - type: python
        value: file://assert.py
