.dark-mode-toggle {
  display: flex;
  background-color: transparent;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  transition: color 0.3s;
}

.dark-mode-toggle:hover {
  color: var(--pass-color);
}
