.description {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.description:hover {
  background-color: #f0f0f0;
}

[data-theme='dark'] .description:hover {
  background-color: #2a2a2a;
}

.eval-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  transition: height 0.3s ease;
}

.eval-header strong {
  font-weight: 500;
}

.eval-header.expanded {
  margin-bottom: 24px;
  height: auto;
}

.eval-header.collapsed {
  height: 0;
  overflow: hidden;
}
