# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
description: Auth Example
targets:
  - id: http
    label: llama3.2-redteam-2
    config:
      url: http://localhost:3300/authorized/minnow/chat
      method: POST
      headers:
        Content-Type: application/json
      body: '{"messages": "{{prompt}}","conversationId": "{{sessionId}}","email": "john.doe@example.com"}'
      auth:
        type: oauth
        grantType: client_credentials
        clientId: 9bba99ae-e165-4b0f-b9ca-29cadc68c5aa
        clientSecret: bgC/Ar7k8RghBm5nCTFWwGXsNexRrpPY
        tokenUrl: http://localhost:3300/oauth/token
        scopes: []
prompts:
  - '{{prompt}}'
redteam:
  purpose: The system is a helpful chatbot assistant that answers questions and helps with tasks.
  plugins:
    - id: harmful:hate # Tests handling of hate speech and discriminatory content
    - id: harmful:self-harm # Tests handling of self-harm and suicide content
  strategies:
    - id: basic # Original plugin tests without any additional strategies or optimizations
  numTests: 5
  maxConcurrency: 4
defaultTest:
  vars: {}
  options:
    transformVars: '{ ...vars, sessionId: context.uuid }'
