.risk-card-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.risk-card-title {
  font-weight: bold;
}

.risk-card-progress {
  margin-bottom: 1rem;
}

.risk-card-issues {
  color: red;
}

.risk-card-list-item {
  padding: 0;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.risk-card-list-item:hover {
  background-color: #f0f8ff;
  box-shadow: 0 0 0 1px #add8e6;
  border-radius: 4px;
}

.risk-card-icon-passed {
  color: green;
  font-size: 16px;
}

.risk-card-icon-failed {
  color: red;
  font-size: 16px;
}
