.strategy-stats-card {
  border-radius: 12px;
}

.strategy-stats-content {
  padding: 24px;
}

.strategy-item {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
}

[data-theme='dark'] .strategy-item {
  border: 1px solid #424242;
}

.strategy-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.strategy-description {
  margin-bottom: 12px;
}

.progress-container {
  margin-bottom: 8px;
}

.fail-rate {
  text-align: right;
}

.attack-stats {
  display: block;
  text-align: right;
}
