section {
  max-width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  gap: 4rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonPrimary {
  /* Override dark mode because we've hardcoded colors on this page */
  background-color: #255d70 !important;
  border-color: #255d70 !important;
  color: #fff !important;
}

.buttonPrimary:hover {
  background-color: var(--ifm-color-primary-dark);
  border-color: var(--ifm-color-primary-dark);
}

.buttonSecondary {
  /* Override dark mode because we've hardcoded colors on this page */
  background-color: #ebedf0 !important;
  border-color: #ebedf0 !important;
  color: #1c1e21 !important;
}

.heroSection {
  text-align: center;
  padding: 2rem 0;
}

.heroBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  /*
  background: linear-gradient(to bottom, #00008b, #f9f9f9);
  */
  background: linear-gradient(to bottom, #2e6585, #f9f9f9);
  text-align: center;
  color: #fff;
}

.heroTitle {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.heroSection h2 {
  color: #1c1e21;
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.heroSection p {
  font-size: 1.25rem;
  color: #666;
}

.logoSection {
  padding-top: 4rem;
  width: 100%;
  color: #707070;
}

.featuresSection {
  padding: 4rem 4rem;
  background-color: #fff;
  color: #404040;
  border-radius: 12px;
}

.featuresSection h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  justify-content: space-between;
}

.featureItem {
  flex: 1 1 calc(33.333% - 2rem); /* Adjust the width to ensure three items per row with gaps */
  box-sizing: border-box;

  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.featureItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.featureItem h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.featureItem p {
  font-size: 1rem;
  color: #666;
}

.benefitsSection {
  padding: 4rem 4rem;
  background-color: #f9f9f9;
  border-radius: 12px;
}

.sectionTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #333;
}

.benefitsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.benefitItem {
  display: flex;
  align-items: center;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.benefitItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.benefitIcon {
  margin-right: 1.5rem;
  align-self: flex-start;
  margin-top: 7px;
}

.benefitContent {
  flex: 1;
}

.benefitItem h3 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.benefitItem p {
  font-size: 1.125rem;
  color: #666;
}

.actionOrientedSection {
  padding: 4rem 4rem;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 12px;
  min-width: min(100%, 1440px);
}

.actionOrientedSection h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.actionOrientedSection p {
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 2rem;
}

.actionOrientedSection img {
  border-radius: 12px;
}

.callToActionSection {
  text-align: center;
  padding-bottom: 8rem;
  background-color: #f9f9f9;
}

.callToActionSection h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.callToActionSection .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.callToActionSection .button {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
}

@media (max-width: 768px) {
  .mainContent {
    padding: 1rem 0;
  }

  .heroBanner {
    padding: 2rem 0;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroSubtitle {
    font-size: 1.25rem;
  }

  .actionOrientedSection {
    padding: 0;
  }

  .callToActionSection {
    padding: 0;
  }

  .benefitsSection {
    padding: 0;
  }

  .benefitItem {
    padding: 1rem;
  }

  .featuresSection {
    padding: 2rem 0;
  }

  .features {
    flex-direction: column;
  }
}
