nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.dark-mode-toggle {
  display: flex;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  transition: color 0.3s;
}

.dark-mode-toggle:hover {
  color: var(--pass-color);
}
