.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

[data-theme='dark'] .logo {
  background-color: #333;
  border-color: #444;
}

.logo img {
  width: 25px;
  margin-top: 2px;
}

[data-theme='dark'] .logo img {
  filter: invert(1);
}

.logo span {
  color: var(--text-color);
}

[data-theme='dark'] .logo span {
  color: #f0f0f0;
}
