.logo {
  display: flex;
  font-family: monospace, monospace;
  font-size: 0.8rem;
  align-items: center;
  gap: 8px;
  background-color: #f0f0f0;
  padding: 0 2rem 0 0;
  border-radius: 0.5rem;
}

[data-theme='dark'] .logo {
  background-color: #333;
  border-color: #444;
}

.logo img {
  width: 25px;
  margin-top: 2px;
}

[data-theme='dark'] .logo img {
  filter: invert(1);
}

.logo span {
  color: var(--text-color);
}

[data-theme='dark'] .logo span {
  color: #f0f0f0;
}
