.nav {
  padding: 0.25rem 0 0.25rem 1rem;
  gap: 1rem;
  background-color: #eee;
  margin-bottom: 1rem;
}

[data-theme='dark'] .nav {
  background-color: #333;
}

.nav a {
  text-decoration: none;
  color: #000;
  align-self: center;
}

[data-theme='dark'] .nav a {
  color: #f0f0f0;
}

.nav .right-aligned {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: 0.5rem;
}

.nav a:hover {
  text-decoration: underline;
}

[data-theme='dark'] .nav a:hover {
  color: #ddd;
}
