# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
prompts:
  - 'Translate this to French: {{message}}'

providers:
  - openai:chat:gpt-4o-mini

tests:
  - vars:
      message: Hello world
    assert:
      - type: similar
        threshold: 0.25
        value: 'Greetings earth'
        provider: ./customProvider.js
