# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
description: Variable referencing other variables in test configurations

prompts:
  - 'Write a {{sentence}}'

providers:
  - openai:gpt-4.1-mini

tests:
  - vars:
      sentence: 'tweet about {{topic}}'
      topic: 'bananas'
  - vars:
      sentence: 'tweet about fruits'
      topic: 'fruits'
  - vars:
      sentence: 'tweet about weasels'
      topic: 'weasels'
