# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
description: Custom Nunjucks template filters for prompt generation

prompts:
  - file://prompts.txt
providers:
  - openai:gpt-4.1-mini
nunjucksFilters:
  allcaps: ./allcaps.js
tests:
  - vars:
      language: French
      body: Hello world
  - vars:
      language: French
      body: I'm hungry
