/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e6585;
  --ifm-color-primary-dark: #255d70;
  --ifm-color-primary-darker: #214f60;
  --ifm-color-primary-darkest: #1d4250;
  --ifm-color-primary-light: #4f8ca0;
  --ifm-color-primary-lighter: #70a1b1;
  --ifm-color-primary-lightest: #92b7c3;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --docusaurus-highlighted-code-line-bg: #fffbdc;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25a5c2;
  --ifm-color-primary-dark: #1f8ca9;
  --ifm-color-primary-darker: #1b7c94;
  --ifm-color-primary-darkest: #176c7f;
  --ifm-color-primary-light: #4fbdd5;
  --ifm-color-primary-lighter: #79cfe8;
  --ifm-color-primary-lightest: #a3e1fb;
  --ifm-button-color: #fff;
  --docusaurus-highlighted-code-line-bg: #353531;
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-hero-text-color: var(--ifm-heading-color);
}

.hero__title {
  font-size: 4rem;
}

.theme-doc-sidebar-item-category-level-1 > div {
  font-weight: bold;
}

.theme-doc-sidebar-item-link-level-1.menu__list-item {
  font-weight: bold;
}

.navbar__brand {
  font-family: var(--ifm-font-family-monospace);
}

.navbar__logo img {
  filter: invert(0);
}
