/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e6585;
  --ifm-color-primary-dark: #255d70;
  --ifm-color-primary-darker: #214f60;
  --ifm-color-primary-darkest: #1d4250;
  --ifm-color-primary-light: #4f8ca0;
  --ifm-color-primary-lighter: #70a1b1;
  --ifm-color-primary-lightest: #92b7c3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #fffbdc;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25a5c2;
  --ifm-color-primary-dark: #1f8ca9;
  --ifm-color-primary-darker: #1b7c94;
  --ifm-color-primary-darkest: #176c7f;
  --ifm-color-primary-light: #4fbdd5;
  --ifm-color-primary-lighter: #79cfe8;
  --ifm-color-primary-lightest: #a3e1fb;
  --ifm-button-color: #fff;
  --docusaurus-highlighted-code-line-bg: #353531;
}

[data-theme='dark'] .button {
  background-color: var(--ifm-color-primary-darker);
  border-color: var(--ifm-color-primary-darker);
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-hero-text-color: var(--ifm-heading-color);
}

.hero__title {
  font-size: 4rem;
}