name: GitHub Actions Lint

on:
  pull_request:
    paths:
      - '.github/**'
  push:
    branches:
      - main
    paths:
      - '.github/**'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  actionlint:
    name: GitHub Actions Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Run actionlint
        id: actionlint
        uses: raven-actions/actionlint@v2
