name: Shell Format

on:
  pull_request:
    paths:
      - '**.sh'
  push:
    branches:
      - main
    paths:
      - '**.sh'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  shell-format:
    name: Shell Format Check
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2
        env:
          SHFMT_OPTS: '-i 2' # 2 space indent
        with:
          sh_checker_shellcheck_disable: true
