# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
description: 'Dynamic var example'

prompts:
  - "You are an office assistant. Using this context:\n\n<context>{{context}}</context>\n\nAnswer this question:\n\n<question>{{question}}</question>"

providers:
  - openai:gpt-4o-mini

tests:
  - vars:
      question: 'What is the parental leave policy?'
      context: file://./load_context.py
